*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
body{
    overflow: hidden;

}
.background{
    position: relative;
    z-index: 0;
    height: 750px;
    width: 1250px;
    margin-left: 240px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 750px;
    width: 240px;
    background: #FFDBC3;
    padding: 6px 14px;
}
.logo .logo_name {
    font-size: 27px;
    text-align: center;
    background: #E25E3E;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 25px;
}
.nav_list {
    font-size: 25px;
}
.sidebar ul {
    margin-top: 20px;
}
.sidebar ul li {
    position: relative;
    height: 80px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    border-radius: 12px;
}
.sidebar ul li a {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
    transition: all 0.2s ease;
}
.sidebar ul li a i {
    height: 50px;
    min-width: 50px;
    line-height: 50px;
    text-align: center;
}
.sidebar ul li a:hover{
    background: #FF9B50;
    color: #C63D2F;
}
.sidebar .guru{
    width: 370px;
    margin-top: 90px;
}
h1 {
    background-color: #C63D2F;
    text-align: center;
    height: 70px;
    width: 600px;
    padding: 10px;
    margin-left: 240px;
    position: relative;
    z-index: 1;
    display: grid;
    bottom: 720px;
    left: 340px;
    border-radius: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}
.gmbrSegitiga {
    background-color: #C63D2F;
    height: 400px;
    width: 300px;
    display: grid;
    bottom: 650px;
    left: 500px;
    position: relative;
    z-index: 1;
    text-align: center;
    border-radius: 40px;
}
#segitiga{
    width: 250px;
    margin: 30px;
    margin-top: 40px;
}
.gmbrSegitiga a{
    color: black;
}
.gmbrSegitiga .nama {
    padding-top: 60px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.gmbrSegitiga .nama:hover {
    padding-top: 60px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #FF9B50;
}
.pengertian {
    background-color: #FF9B50;
    height: 400px;
    width: 500px;
    display: grid;
    bottom: 1050px;
    left: 900px;
    position: relative;
    z-index: 1;
    text-align: left;
    border-radius: 40px;
}
strong{
    font-size: 30px;
    padding: 40px;
    text-align: center;
    align-items: center;
    border-radius: 80px;
}
p{
    padding: 30px;
    font-size: 20px;
}
.gmbrBangun{
    position: relative;
    z-index: 1;
    width: 100px;
    left: 520px;
    bottom: 1610px;
}
.maths{
    position: relative;
    z-index: 1;
    width: 100px;
    left: 800px;
    bottom: 1500px;
}